.navbar {
    background-color: #00704A !important;
}

remove default margin and padding from body body {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 80%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#map {
    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
}